<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>299994024044-mi10mpiv5tkdm8ahv98u4g7sgdbdpgmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299994024044-mi10mpiv5tkdm8ahv98u4g7sgdbdpgmp</string>
	<key>API_KEY</key>
	<string>AIzaSyB6_7PJ1194PSSXSKQQcjuze2E1GsydSS8</string>
	<key>GCM_SENDER_ID</key>
	<string>299994024044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jashwanth-reddy.basic-social-network</string>
	<key>PROJECT_ID</key>
	<string>my-social-network-6e5dd</string>
	<key>STORAGE_BUCKET</key>
	<string>my-social-network-6e5dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:299994024044:ios:b6cff9390b5e4d74</string>
	<key>DATABASE_URL</key>
	<string>https://my-social-network-6e5dd.firebaseio.com</string>
</dict>
</plist>